.mlb-ari {
	
	color: #fff;
	background: #A71930;
	
}
.mlb-atl {
	color: #fff;
	background:  #13274F;
}
.mlb-bal {
	
	color: #000;
	background: #DF4601;
}
.mlb-bos {
	
	color: #fff;
	background: #BD3039;
	
}
.mlb-chc {
	color: #fff;
	background: #0E3386;
}
.mlb-cws {
	color: #fff;
	background: #000000;
}
.mlb-cin {
    color: #fff;
    background: #C6011F;
}
.mlb-cle {
    color: #fff;
    background: #E31937;
}
.mlb-col {
	color: #fff;
	background: #333366;
}
.mlb-det {
	color: #fff;
	background: #0C2C56;
}
.mlb-hou {
	color: #002D62;
	background: #EB6E1F;
}

.mlb-kc {
	color: #fff;
	background: #004687;
}
.mlb-laa {
	background: #BA0021;
	color: #fff;
}
.mlb-lad {
	background: #005A9C;
	color: #fff;
}
.mlb-mia {
	color: #000;
	background:  #FF6600;
}
.mlb-mil {
	color: #0A2351;
	background:  #B6922E;
}
.mlb-min {
	color: #fff;
	background:  #D31145;
}
.mlb-nym {
	color: #002D72;
	background: #FF5910;
}
.mlb-nyy {
	color: #fff;
	background:  #00040c;
}
.mlb-oak {
	color: #EFB21E;
	background:  #003831;
}
.mlb-phi {
	color: #fff;
	background:  #E81828;
}
.mlb-pit {
	color: #000;
	background:  #FDB827;
}
.mlb-sd {
	color: #FEC325;
	background:  #7F411C;
}

.mlb-sf {
	color: #000;
	background: #FD5A1E;
}
.mlb-sea {
	color: #C4CED4;
	background:  #005C5C;
}
.mlb-stl {
	color: #fff;
	background: #C41E3A;
}
.mlb-tb {
	color: #092C5C;
	background: #8FBCE6;
}
.mlb-tex {
	color: #fff;
	background:  #C0111F;
}
.mlb-tor {
	color: #fff;
	background:  #134A8E;
}
.mlb-was {
	color: #fff;
	background: #AB0003;
}










.mlb-mlb {
	background: url(/images/mlb-logo.png)no-repeat center;
	background-size: contain;
	color: #FAFAFA;
	span { visibility:hidden; }
}